<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="stylesheets/goldfish.css" />
	<title></title>
</head>
<body id="main_body" style="text-align:center;font-size:1em">

	<img src="images/logo_2x.png" class="logo">
	<br>
		<a href="form?id=createComp">הוספת חברה / מתרגל</a>
	<br>
		<a href="form?id=createUser">הוספת מתרגל</a>
	<br>
		<a href="form?id=createReality">יצירת כיוון</a>
	<br>
		<a href="form?id=findAndDelete">מחק רשומות</a>
	<br>
</body>

</html>